@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
}

.inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.bg_particle {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    background: linear-gradient(82deg,rgba(21,150,143, 0.7) 0%,rgba(104,93,250, 0.7) 15.3%,rgba(104,93,250, 0.7) 26.6%,rgba(104,93,250, 0.7) 50%,rgba(255,62,144, 0.7) 100%);
}

canvas {
    display: flex;
    justify-content: center;
}

.hd-area {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.hd-area.fix {
    position: fixed;
    top: 0;
    animation-name: upAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes upAnime {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hd-logo {
    width: 56px;
    margin: 8px 0 4px;
}

.hd-logo img {
    width: 100%;
}

.hd-list {
    display: flex;
    gap: 2.5vw;
}

.hd-list li{
    height: 36px;
    overflow: hidden;
    padding: 0px 0;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 0.8rem;
}

.hd-list a{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 0.5s;
}

.hd-list a:hover {
    transform: translateY(-55%);
}

.list-ja {
    font-family: fantasy;
    font-weight: 600;
    position: relative;
}

.list-ja::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 2px;
}

.hd-list li:hover .list-ja::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0px;
    background-color: black;
    animation-name: underLine;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes underLine {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.hamburger {
    display: none;
}

.top-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 10;
    display: none;
}

.top-button.up {
    animation-name: topIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes topIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

.top-button.down {
    animation-name: topDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes topDown {
    from {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.top-button svg {
    width: 32px;
    height: 32px;
    color: rgb(89, 89, 89);
}

.top-logo{
    position: absolute;
    top: calc(85px + 30%);
    transform: translateY(-50%);
    left: 20%;
}

.top-logo img {
    width: 15vw;
}

.top-wrapper {
    height: calc(100vh - 85px);
    position: relative;
}

.top-box {
    position: absolute;
    top: 10vh;
    right: 10%;
}

.top-message {
    font-size: 2rem;
    color: rgba(190,190,190, 0.7);
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    letter-spacing: 0.1em;
    font-family: serif;
}

.top-img {
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}

.top-img img{
    width: 100%;
    height: 100%;
    filter: grayscale();
}

.square {
    background: linear-gradient(82deg,rgba(21,150,143, 0.4) 0%,rgba(104,93,250, 0.4) 15.3%,rgba(104,93,250, 0.4) 26.6%,rgba(104,93,250, 0.4) 50%,rgba(255,62,144, 0.4) 100%);
    
}

.sq1 {
    top: -8vw;
    right: 2vw;
    transform: rotate(-10deg);
    position: relative;
    height: 10vw;
    width: 10vw;
}

.sq2 {
    top: 40vw;
    left: 10vw;
    transform: rotate(-125deg);
    position: relative;
    height: 12vw;
    width: 12vw;
}

.sq3 {
    bottom: 3vw;
    right: 2vw;
    transform: rotate(-10deg);
    position: absolute;
    height: 8vw;
    width: 8vw;
}

.sq4 {
    top: 10vw;
    right: 42vw;
    transform: rotate(230deg);
    position: absolute;
    height: 8vw;
    width: 8vw;
}

.sq5 {
    top: 5vw;
    left: 5vw;
    transform: rotate(125deg);
    position: absolute;
    height: 8vw;
    width: 8vw;
}

.air-plane {
    position: relative;
    left: 0;
    bottom:59px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.air-plane img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 7vw;
    opacity: 0.5;
    animation-name: planeAnime;
    animation-duration: 10000ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
}

@keyframes planeAnime {
    0% {transform:translate(0px, 0px) scale(1) rotate(-15deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    10% {transform:translate(42px, -85px) scale(1) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    20% {transform:translate(76px, -115px) scale(1) rotate(25deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    30% {transform:translate(118px, -123px) scale(1) rotate(50deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    40% {transform:translate(168px, -111px) scale(1) rotate(80deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    50% {transform:translate(227px, -20px) scale(1) rotate(60deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    60% {transform:translate(261px, -7px) scale(1) rotate(20deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    70% {transform:translate(297px, -19px) scale(1) rotate(10deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    80% {transform:translate(344px, -36px) scale(1) rotate(5deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    90% {transform:translate(419px, -68px) scale(1) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    100% {transform:translate(688px, -193px) scale(1) rotate(0deg) translate(-50%, -50%);}
}

.top-img-sub {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 15vw;
    overflow: hidden;
    transform: translate(0% , 50%);
}

.top-img-sub img {
    width: 100%;
    height: 100%;
}

.main-content {
    background-color: white;
    overflow: hidden;
}

.fst-area {
    padding-top: 20vw;
    position: relative;
}

.fst-flex {
    display: flex;
    width: 100%;
}

.fst-title {
    width: 35%;
}

.maintitle {
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
}

.subtitle {
    font-family: serif;
    margin-top: 12px;
    font-weight: 600;
}

.fst-title img {
    width: 1.5rem;
}

.fst-title h2{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-family: 'Fredoka One', cursive;
}

.fst-content {
    width: 65%;
}

.fst-main-sentence {
    font-size: 2rem;
    letter-spacing: 0.065em;
    line-height: 1.5em;
    font-family: "Noto Sans JP", sans-serif;
    position: relative;
    z-index: 1;
}

.fst-main-sentence h3 {
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
}

.fst-sub-sentence {
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 1.5em;
    letter-spacing: 0.065em;
}

.circle-area {
    position: relative;
    top: -200px;
    left: 45vw;
    width: 10vw;
    height: 15vw;
    z-index: 0;
}

.circle-S {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    box-shadow: 12px 12px 20px rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(36% , 36%);
}

.circle-M {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    box-shadow: 12px 12px 20px rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(13% , 13%);
}

.circle-L {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    box-shadow: 12px 12px 20px rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fst-btn {
    display: flex;
    position: absolute;
    right: 15vw;
    bottom: 64px;
}

.more {
    border-bottom: 1px solid black;
    width: 7rem;
    font-weight: 600;
    transition: all 0.8s;
}

.more::after {
    content: "➔";
    position: absolute;
    top: -20px;
    right: -64px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    transition: 0.8s;
}

.more:hover::after {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transform: translateX(5px);
}

.sd-content {
    position: relative;
}

.sd-title img {
    width: 1.5rem;
}

.sd-title h2{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-family: 'Fredoka One', cursive;
}

.sd-flex {
    display: flex;
    width: 100%;
    padding-bottom: 120px;
}

.sd-img img {
    width: 100%;
}

.sd-sentence {
    padding: 16px;
    background-color: rgb(230, 230, 230);
    border: rgba(0, 0, 0, 0.3) 1px solid;
}

.sd-sentence h3 {
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 600;
    padding-top: 16px;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.sd-sentence p {
    padding: 24px 0;
    line-height: 1.5rem;
}

.sd-left {
    width: 50%;
    padding: 30px;
}

.sd-right {
    width: 50%;
    padding: 30px;
}

.sd-btn {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
}

.td-area {
    background-color: #e3e4eb;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-bottom: 120px;
    padding-top: 80px;
}

.td-title img {
    width: 1.5rem;
}

.td-title h2{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-family: 'Fredoka One', cursive;
}

.td-content {
    
    position: relative;
}

.td-slick {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.td-box {
    width: 30%;
    background-color: white;
}

.td-box img{
    width: 100%;
}

.td-sentence {
    padding: 24px;
}

.td-black {
    border-bottom: #878787 solid 1px;
    font-weight: 600;
    font-family: serif;
    line-height: 1.65em;
    padding-bottom: 8px;
}

.td-category {
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 32px;
}

.td-category p{
    border: 1px solid rgba(128, 128, 128, 0.494);
    display: inline;
    padding: 2px 8px 2px 4px;
    color: gray;
}

.td-gray {
    color: #878787;
    text-align: right;
    margin-bottom: 16px;
}

.td-btn {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: -80px;
    transform: translateX(30%);
}

.last-content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.last-left {
    width: 48%;
    filter: grayscale();
    transition: 0.8s;
}

.last-left:hover {
    filter: none;
    cursor: pointer;
}

.last-left img {
    width: 100%;
}

.last-right {
    width: 48%;
    filter: grayscale();
    transition: 0.5s;
}

.last-right:hover {
    filter: none;
}

.last-right img {
    width: 100%;
}

.last-sentence {
    font-family: 'Fredoka One', cursive;

}

.last-sentence h4 {
    font-size: 1.3rem;
    margin-bottom: 16px;
}

.last-sentence p {
    font-size: 0.8rem;
}

.last-img {
    position: relative;
    display: block;
    overflow: hidden;
    box-shadow: 10px 10px 20px 1px gray;
}

.last-img::before {
    content: "";
    height: 220px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -50px;
    left: -10px;
    transform: rotate(7deg);
    border: 1px solid rgb(210, 210, 210);
}

.last-sentence {
    position: absolute;
    top: 30%;
    left: 5%;
}

footer {
    border-top: 1px solid gray;
    background-color: rgb(255, 255, 255);
}

.ft-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: 'Fredoka One', cursive;
    font-size: 0.8rem;
    align-items: center;
}

.ft-list a {
    font-weight: lighter;
    color: #5b5b5b;
}

.ft-list a:hover {
    color: black;
    transition: all 0.3s;
}

.ft-list li {
    padding: 4px 16px;
    border-right: 1px solid gray;
}

.ft-list li:first-child {
    border-left: 1px solid gray;
}

.copy-right {
    padding-bottom: 24px;
    text-align: center;
    font-size: 0.8rem;
    color: #2a2a2a;
}

/* ↓　マウスストーカー */
.cursor-in {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.cursor-in {
    width: 8px;
    height: 8px;
    background-color: #333;
    z-index: 5001;
}

.cursor-in.is-active {
    transform: scale(5);
    opacity: 0.1;
}


@media screen and (max-width : 1024px) {
    .hd-list li {
        font-size: 0.6rem;

    }

    .top-logo {
        top: calc(108px + 20%);
    }

    .top-wrapper {
        height: calc(90vh - 85px);
    }

    .top-message {
        left: 0;
        font-size: 1.75rem;
        bottom: 0;
    }

    .air-plane img {
        left: 40%;
    }

    .fst-flex {
        display: block;
    }

    .fst-title {
        margin-bottom: 40px;
    }
    .fst-content {
        width: 100%;
    }

    .fst-sub-sentence {
        margin-top: 40px;
    }

    .sd-left {
        padding: 16px;
        padding-left: 0;
    }

    .sd-right {
        padding: 16px;
        padding-right: 0;
    }

    .td-box {
        width: 32%;
    }
}

@media screen and (max-width : 600px) {
    .hd-logo {
        width: 40px;
    }

    .hd-list {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
    }

    .hamburger-box {
        position: absolute;
        top: 7px;
        right: 16px;
        z-index: 999;
    }

    .hamburger-menu{
        position: relative;
        background:#ffffff;
        cursor: pointer;
        width: 50px;
        height:50px;
    }

    .hamburger-menu span{
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: rgb(0, 0, 0);
        width: 45%;
    }


    .hamburger-menu span:nth-of-type(1) {
        top:15px; 
    }

    .hamburger-menu span:nth-of-type(2) {
        top:23px;
    }

    .hamburger-menu span:nth-of-type(3) {
        top:31px;
    }

    .hamburger-menu.swich span:nth-of-type(1) ,
    .hamburger-menu.swich span:nth-of-type(3){
    top: 23px;
    }

    .open-hd {
        position: fixed;
        right: -120%;
        top: 63px;
        width: 100vw;
        height: 100vh;
        transition: all 0.5s;
        z-index: 999;
        background-color: #ffffff;    
    }

    .open-hd.slide {
        right: 0;
    }

    .open-list a {
        display: block;
        color: rgb(0, 0, 0);
        padding: 16px;
        padding-left: 32px;
        font-size: 0.85rem;
        font-family: 'Fredoka One', cursive;
    }

    .top-wrapper {
        height: 50vh;
    }

    .top-message {
        left: 6vw;
        bottom: -18vh;
    }

    .top-logo {
        left: 50vw;
        top: calc(85px + 20%);
    }

    .top-logo img {
        width: 100px;
    }

    .top-img {
        width: 40vw;
        height: 40vw;
        display: none;
    }

    .top-img-sub {
        width: 30vw;
        height: 30vw;
    }

    .air-plane img {
        left: 0;
    }

    .fst-area {
        padding-bottom: 80px;
    }

    .fst-main-sentence {
        font-size: 1.6rem;
    }

    .fst-btn {
        bottom: 80px;
    }

    .sd-flex {
        display: block;
    }

    .sd-left {
        width: 100%;
        padding: 24px;
    }

    .sd-right {
        width: 100%;
        padding: 24px;
        padding-top: 0;
    }

    .sd-btn {
        left: 45%;
        bottom: 64px;
    }

    .td-box {
        margin: 40px;
    }

    .last-content {
        display: block;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .last-left {
        width: 100%;
        padding: 16px;
    }

    .last-right {
        width: 100%;
        padding: 16px;
    }

    .ft-list {
        display: none;
    }

    .copy-right {
        padding-top: 32px;
    }

    .cursor-in {
        display: none;
        visibility: hidden;
    }
}